*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: --apple-system, sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: #fff;
    --main-color: #12f7ff;
    --big-font:2.5rem;
    --normal-font:2rem;
    --h2-font:3rem;
    --neon-box-shadow: 0 0 .5rem #12f7ff;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Header Section */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 24px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

/* Home Section -----------------------------------*/

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 3rem;
}

span {
    color: var(--main-color);
}

.logo span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content h3 {
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 3rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    top: 3rem;
    width: 30vw;
    border-radius:50%;
    box-shadow: 0 0 40px var(--main-color);
    transition: 0.3s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 55px var(--main-color);
}

.home-content p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    text-align: justify;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size:2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3 ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius:4rem;
    font-size: 1.6rem;
    color: #080808;
    behavior: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3 ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
    background-color: #080808;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: #080808;
}

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span:before {
    content: "Web Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span:after {
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--main-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {
    0%,
    20% {
        content: "Developer";
    }
    21%,
    40% {
        content: "Youtuber";
    }
    41%,
    60% {
        content: "Designer";
    }
    61%,
    80% {
        content: "Developer";
    }
    81%,
    100% {
        content: "Content Creator";
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

/* About Section */

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 3rem;
}

.about-content h1 {
    font-size: 6rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.about-content h3 {
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 3rem;
}

.about-img {
    border-radius: 50%;
}

.about-img img {
    position: relative;
    top: 3rem;
    width: 28vw;
    border-radius:50%;
    box-shadow: 0 0 40px var(--main-color);
    transition: 0.3s ease-in-out;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 55px var(--main-color);
}

.about-content p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size:2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius:4rem;
    font-size: 1.6rem;
    color: #131313;
    behavior: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
    background-color: #131313;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: #131313;
}

    /* Skills Section --------------------------------------------- */
.skills{
    background-color: var(--bg-color);
}

.main-text{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.main-text span{
    font-size: 2.5rem;
    color: wheat;
}

.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skill-bar{
    margin-bottom: 2.3rem;
}

.skill-main h3{
    margin-bottom: 2rem;
    font-size: 4rem;
    text-align: center;
}

.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: var(--text-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}


.skill-bar .info p{
    font-size: 2rem;
}

.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--main-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .python{
    width: 64%;
    animation: python 2s;
}

.skill-bar .bar .java{
    width: 45%;
    animation: java 3s;
}

.skill-bar .bar .html{
    width: 82%;
    animation: html 3s;
}

.skill-bar .bar .css{
    width: 53%;
    animation: css 4s;
}

.skill-bar .bar .js{
    width: 25%;
    animation: js 4s;
}


/* Right */

.professional{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box{
    margin: 10px 0;
    flex: 1 1 15rem;
    position: relative;
}

.box .text{
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.box .text big{
    color: white;
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .text small{
    display: block;
    font-weight: 600;
}

.circle{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .points{
    width: 2px;
    height: 10px;
    background-color: var(--bg-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
    
}

.points.marked{
    animation: glow 0.4s linear forwards;
        animation-delay: calc(var(--i)*0.03s);
}

    /* Education Section -------------------------------------*/

.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

.education {
    padding: 100px 15px;
    background: var(--second-bg-color);
}

.education h2 {
    margin-bottom: 5rem;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 25px var(--main-color);
    position: absolute;
    left: calc(50% - 8.9px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size:20px;
    font-weight: 800;
    color: #fff;
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px ;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3 {
    font-size: 25px;
    color: #fff;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* Service section-------------------------------- */

.services {
    background-color: var(--bg-color);
    color: #fff;
}


.services h2 {
    margin-bottom: 5rem;
    color: #fff;
}

.services-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
}

.service-box {
    background-color: var(--main-color);
    color: black;
    height: 300px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.service-box:hover {
    background-color: #fff;
    color: black;
    border: 5px solid var(--main-color);
    transform: scale(1.02);
}

.service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    min-height: 200px;
    justify-content: left;
    padding: 5rem 5rem;
}

.service-info h4 {
    font-size: 3.2rem;
    font-weight: 800;
    padding-bottom: 1rem;
}

.service-info p {
    font-size: 1.6rem;
    font-weight: 600;
    min-height: 100px;
    line-height: 1.7;
}


/* Contact us Section--------------------------------- */

.contact {
    background-color: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
    color: #fff;
}

.contact form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
}


/* Remove Arrows from input-type number  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }


/* Footer Section ------------------------------*/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--bg-color);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a {
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: #080808;
    box-shadow: 0 0 25px var(--main-color);
}

.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

/* Scrollbar Design  */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    width: 50px;
    border-radius: 50px;
}

/* Responsive Design----------------------------- */

@media (max-width:1284px) {
    html {
        font-size: 55%;
    }

    .services-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}

@media (max-width:991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .timeline-items::before {
        left: 7px;
    }

    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }

    .timeline-dot {
        left: 0;
    }

    .services {
        padding-bottom: 7rem;
    }

    .textimonials .wrapper {
        grid-template-columns: repeat(1,1fr);
    }

    .contact form {
        flex-direction: column;
    }

    .footer {
        padding: 2rem 3%;
    }
}


@media (max-width:894px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px); 
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 2.5rem 0;
        color: #fff;
    }

    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 6rem;
        margin-top: 1rem;
    }

    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }

    .home-img img {
        width: 45vh;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-content h1 {
        font-size: 6rem;
        margin-top: 1rem;
    }

    .about-content p{
        max-width: 600px;
        margin: 0 auto;
    }

    .about-img img {
        width: 45vh;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .services-container {
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width:425px) {
    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
        margin-top: 1rem;
    }

    .about-content h1 {
        font-size: 5rem;
        margin-top: 1rem;
    }

    .heading {
        font-size: 4rem;
        text-align: center;
        margin: 2rem 0;
    }

    .about-img img {
        width: 30vh;
    }

    .home-img img {
        width: 30vh;
    }
}


/* Skills --------------------------------------------*/

@keyframes python {
    0%{
        width: 0%;
    }
    100%{
        width: 64%;
    }
}

@keyframes java {
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 82%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 53%;
    }
}

@keyframes js {
    0%{
        width: 0%;
    }
    100%{
        width: 25%;
    }
}

@keyframes glow {
    0%{
        background: var(--bg-color);
        box-shadow: none;
    }
    100%{
        background: var(--main-color);
        box-shadow: var(--neon-box-shadow);
    }
}